//import de la police Lato
@font-face {
      font-family: 'Lato', sans-serif;
      src: url('./fonts/Lato/fonts/Lato-Black.eot');
      src: url('./fonts/Lato/fonts/Lato-Black.eot?#iefix')
                  format('embedded-opentype'),
            url('./fonts/Lato/fonts/Lato-Black.woff') format('woff'),
            url('./fonts/Lato/fonts/Lato-Black.ttf') format('truetype');

      font-weight: normal;
      font-style: normal;
}

.box {
      box-sizing: border-box; /* Opera/IE 8+ */
      -moz-box-sizing: border-box; /* Firefox, autres Gecko */
      -webkit-box-sizing: border-box; /* Safari/Chrome, autres WebKit */
}

body {
      margin: 0;
      font-size: large;
      font-family: 'Lato', sans-serif;
      background-color: rgb(230, 230, 230);
}

:root {
      --primary: #fd2d01;
      --secondary: #ffd7d7;
      --tertiary: #4e5166;
}

/* ----------------------------------- */
/* -------------- FLEX --------------- */
/* ----------------------------------- */

.flex {
      display: flex;
}
.wrap {
      flex-wrap: wrap;
}

.jc__centre {
      justify-content: center;
}
.jc__f-start {
      justify-content: flex-start;
}
.jc__f-end {
      justify-content: flex-end;
}
.jc__SpaceA {
      justify-content: space-around;
}
.jc__SpaceB {
      justify-content: space-between;
}
.fd__row-r {
      flex-direction: row-reverse;
}

.ai__centre {
      align-items: center;
}
.ai__SpaceA {
      justify-content: space-around;
}
.ai__fstart {
      justify-content: flex-start;
}

.fd__Column {
      flex-direction: column;
}

li {
      list-style-type: none;
}

.displaySwitch {
      display: none;
}

.size100 {
      width: 100%;
}

@media screen and (max-width: 992px) {
      /* VERSION TABLETTE */
}

@media screen and (max-width: 768px) {
      /* VERSION PC Responsive */
}
