@font-face {
  font-family: 'Lato', sans-serif;
  src: url("./fonts/Lato/fonts/Lato-Black.eot");
  src: url("./fonts/Lato/fonts/Lato-Black.eot?#iefix") format("embedded-opentype"), url("./fonts/Lato/fonts/Lato-Black.woff") format("woff"), url("./fonts/Lato/fonts/Lato-Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.box {
  box-sizing: border-box;
  /* Opera/IE 8+ */
  -moz-box-sizing: border-box;
  /* Firefox, autres Gecko */
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, autres WebKit */
}

body {
  margin: 0;
  font-size: large;
  font-family: 'Lato', sans-serif;
  background-color: #e6e6e6;
  bottom: 0;
}

:root {
  --primary: #fd2d01;
  --secondary: #ffd7d7;
  --tertiary: #4e5166;
}

/* ----------------------------------- */
/* -------------- FLEX --------------- */
/* ----------------------------------- */
.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.jc__centre {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.jc__f-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.jc__f-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.jc__SpaceA {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.jc__SpaceB {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fd__row-r {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.ai__centre {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ai__SpaceA {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.ai__fstart {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.fd__Column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

li {
  list-style-type: none;
}

.displaySwitch {
  display: none;
}

.size100 {
  width: 100%;
}

@media screen and (max-width: 992px) {
  /* VERSION TABLETTE */
}

@media screen and (max-width: 768px) {
  /* VERSION PC Responsive */
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 22px;
  color: #fff;
}

body {
  min-height: 100vh;
}

section {
  width: 100%;
  max-width: 420px;
  min-height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.formAuth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-bottom: 1rem;
  margin-top: 30px;
}

.buttonAuth {
  margin: 1rem;
}

.inputAuth,
.buttonAuth,
.textareaAuth {
  font-size: 17px;
  padding: 0.25rem;
  padding-left: 15px;
  border-radius: 1rem;
  background-color: rgba(255, 255, 255, 0.452);
  border: white solid 2px;
}

.buttonAuth:hover {
  background-color: white;
  border: white solid 2px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.labelMarg {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 3px;
}

.buttonAuth {
  margin-left: 85px;
  padding: 0rem;
  width: 200px;
  height: 41px;
  border-radius: 1rem;
  cursor: pointer;
}

.instructions {
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  color: #fff;
  padding: 0.25rem;
  position: relative;
  bottom: -10px;
}

.instructions > svg {
  margin-right: 0.25rem;
}

.offscreen {
  position: absolute;
  left: -9999px;
}

.hide {
  display: none;
}

.valid {
  color: #fdfdfd;
  margin-left: 0.25rem;
}

.invalid {
  color: white;
  margin-left: 0.25rem;
}

.errmsg {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 1rem;
  color: #ff0101;
  font-weight: bold;
  margin-top: 40px;
  padding: 0.5rem;
  padding-left: 4rem;
  margin-bottom: -1rem;
}

.line {
  display: inline-block;
}

.auth {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 5px;
}

.italic {
  font-style: italic;
  color: #9c9c9c;
}

.italic:hover {
  font-style: italic;
  color: white;
  text-decoration: underline;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

/* stroke */
a {
  outline: 0;
  text-decoration: none;
  color: #fff;
  border: none;
  position: relative;
}

li {
  color: white;
}

a:visited {
  outline: 0;
  text-decoration: none;
  color: #fff;
  border: none;
}

.grey::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 210px;
  border-radius: 0 20px 0 0;
  -webkit-transform: translateY(-68.4%) translateX(-33px);
          transform: translateY(-68.4%) translateX(-33px);
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  padding-bottom: 20px;
}

.grey1::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 210px;
  border-radius: 20px 0 0 0;
  -webkit-transform: translateY(-68.5%) translateX(-71px);
          transform: translateY(-68.5%) translateX(-71px);
  background-color: rgba(255, 255, 255, 0.2);
  height: 50px;
  padding-bottom: 20px;
}

.logo {
  position: relative;
  margin-top: -70px;
  margin-bottom: -70px;
  width: 300px;
  -webkit-clip-path: inset(35% 0 35% 5% round 20px);
          clip-path: inset(35% 0 35% 5% round 20px);
  border-radius: 20px;
  opacity: 80%;
}

@media screen and (max-width: 992px) {
  /* VERSION TABLETTE */
}

@media screen and (max-width: 768px) {
  /* VERSION PC Responsive */
  .responsive {
    width: 350px;
  }
  .grey::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 180px;
    border-radius: 0 20px 0 0;
    -webkit-transform: translateY(-68.4%) translateX(-20px);
            transform: translateY(-68.4%) translateX(-20px);
    background-color: rgba(255, 255, 255, 0.2);
    height: 50px;
    padding-bottom: 20px;
  }
  .grey1::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 170px;
    border-radius: 20px 0 0 0;
    -webkit-transform: translateY(-68.5%) translateX(-53px);
            transform: translateY(-68.5%) translateX(-53px);
    background-color: rgba(255, 255, 255, 0.2);
    height: 50px;
    padding-bottom: 20px;
  }
  .buttonAuth {
    margin-left: 55px;
  }
}

h1 {
  color: red;
}

.BlocPost {
  margin-top: 40px;
  margin-right: -270px;
  width: 616px;
  min-width: 344px;
  max-width: 616px;
  position: absolute;
  height: 98%;
  bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  border-radius: 20px 20px 00px 0px;
  background-color: rgba(0, 0, 0, 0.7);
}

.scrollBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  scrollbar-width: thin;
}

/* width */
.scrollBar::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollBar::-webkit-scrollbar-track {
  background: #f1f1f100;
}

/* Handle */
.scrollBar::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
.scrollBar::-webkit-scrollbar-thumb:hover {
  background: #888;
}

.center {
  margin-top: -25px;
  margin-left: -150px;
}

.logoHome {
  margin-top: -45px;
  margin-left: -480px;
  margin-right: -300px;
  margin-bottom: -70px;
  width: 300px;
  height: 250px;
  -webkit-clip-path: inset(35% 0 35% 5% round 20px);
          clip-path: inset(35% 0 35% 5% round 20px);
  border-radius: 20px;
  opacity: 80%;
}

@media screen and (max-width: 1100px) {
  /* VERSION TABLETTE */
  .logoHome {
    position: absolute;
    margin-top: -115px;
    margin-left: -320px;
    margin-bottom: -70px;
    width: 469px;
    height: 400px;
    -webkit-clip-path: inset(40% 70% 40% 11% round 20px);
            clip-path: inset(40% 70% 40% 11% round 20px);
    border-radius: 20px;
    opacity: 80%;
  }
}

@media screen and (max-width: 768px) {
  /* VERSION PC Responsive */
  .logoHome {
    position: absolute;
    margin-top: -225px;
    margin-left: 107px;
    margin-bottom: -70px;
    width: 469px;
    height: 400px;
    -webkit-clip-path: inset(40% 70% 40% 11% round 20px);
            clip-path: inset(40% 70% 40% 11% round 20px);
    border-radius: 20px;
    opacity: 80%;
  }
  .BlocPost {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-top: 110px;
    height: 90%;
  }
  .center {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .logoHome {
    display: none;
  }
}

.profile {
  position: relative;
  width: 288px;
  height: auto;
  margin-left: -470px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 20px 10px 20px 10px;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 100;
}

.imgProfile {
  position: absolute;
  width: 80px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  z-index: 9;
}

.circleProfile {
  margin-top: 0px;
  margin-left: 0px;
  width: 88px;
  height: 88px;
  border: 2px solid red;
  border-radius: 50%;
}

.profileName {
  margin-top: 10px;
  font-size: 15px;
}

.profileRole {
  margin-top: 10px;
  margin-left: -20px;
  font-size: 15px;
}

.iconRole {
  margin-right: 5px;
  color: #ffd7d7;
}

.profileSetting {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 25px;
  padding: 10px 5px 10px 25px;
  font-size: 17px;
  width: 120px;
  font-weight: bold;
  text-align: left;
}

.profileSetting:hover {
  background-color: rgba(255, 255, 255, 0.089);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 25px;
  cursor: pointer;
}

.icon {
  margin-right: 20px;
}

.panelUser {
  margin-top: 20px;
}

.panelUser div {
  margin-bottom: 12px;
}

.iconAdmin {
  margin-right: 20px;
}

.AdminButton {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 25px;
  padding: 10px 5px 10px 25px;
  font-size: 17px;
  width: 180px;
  font-weight: bold;
  text-align: left;
}

.AdminButton:hover {
  background-color: rgba(255, 255, 255, 0.089);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 25px;
  cursor: pointer;
}

.IfAdminRole {
  display: none;
}

#seeRoles {
  display: none;
}

.iconAdminResponsive {
  display: none;
}

.reflect {
  position: absolute;
  width: 80px;
  height: 80px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
  z-index: 10;
}

.reflect::after {
  content: '';
  position: absolute;
  top: -30%;
  right: 1500%;
  width: 50%;
  height: 200%;
  opacity: 0;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  background: rgba(255, 255, 255, 0.13);
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.13)), color-stop(77%, rgba(255, 255, 255, 0.13)), color-stop(92%, rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
  -webkit-animation: shine 300s linear infinite;
          animation: shine 300s linear infinite;
}

@-webkit-keyframes shine {
  1% {
    opacity: 1;
    right: 1500%;
  }
  2% {
    opacity: 1;
    right: -200%;
  }
  100% {
    opacity: 1;
    right: -200%;
  }
}

@keyframes shine {
  1% {
    opacity: 1;
    right: 1500%;
  }
  2% {
    opacity: 1;
    right: -200%;
  }
  100% {
    opacity: 1;
    right: -200%;
  }
}

@media screen and (max-width: 1100px) {
  /* VERSION TABLETTE */
  .profile {
    margin-top: 25px;
    position: relative;
    width: 90px;
    height: 410px;
    padding-top: 50px;
    margin-top: 130px;
    margin-left: -270px;
    margin-right: 10px;
  }
  .circleProfile {
    margin-top: 0px;
    margin-left: 0px;
    width: 60px;
    height: 60px;
    border: 2px solid red;
    border-radius: 50%;
  }
  .imgProfile {
    position: absolute;
    width: 50px;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
  }
  .profileRole {
    text-align: center;
    margin-left: 0px;
  }
  .profileName {
    text-align: center;
  }
  .d_noneProfile {
    display: none;
  }
  .iconAdmin {
    display: none;
  }
  .AdminButton {
    display: none;
  }
  .profileSetting {
    display: none;
  }
  .icon {
    display: none;
  }
  .buttonResponsive {
    width: 50px;
    height: 50px;
    border-radius: 10px;
  }
  .buttonResponsive:hover {
    background-color: rgba(255, 255, 255, 0.089);
    color: white;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 10px;
    cursor: pointer;
  }
  .iconAdminResponsive {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .reflect {
    width: 50px;
    height: 50px;
  }
}

@media screen and (max-width: 768px) {
  /* VERSION PC Responsive */
  .profile {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 10px;
    position: relative;
    width: 100%;
    height: 70px;
    padding-top: 00px;
    margin-left: 0px;
    margin-right: 0px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 0px;
  }
  .profileRole {
    text-align: center;
    margin-top: 0px;
  }
  .profileName {
    margin-top: 0px;
    text-align: center;
    display: none;
  }
  .panelUser {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .panelUser div {
    margin-bottom: 0px;
  }
  .buttonResponsive {
    margin-top: -20px;
  }
  .circleProfile {
    margin-top: 0px;
    margin-left: 0px;
    width: 55px;
    height: 55px;
    border: 2px solid red;
    border-radius: 50%;
  }
  .imgProfile {
    position: absolute;
    width: 48px;
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%);
  }
}

.BlocCreatePost {
  margin-bottom: 30px;
}

.formPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.inputPost {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.089);
  margin-left: 45px;
  width: 92%;
  height: auto;
  color: white;
  border-radius: 10px;
  padding: 10px 5px 10px 20px;
  font-size: 17px;
  resize: none;
  overflow: hidden;
}

.buttonCreatePost {
  border: 2px solid red;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 25px;
  padding: 10px 5px 10px 5px;
  font-size: 17px;
  width: 120px;
  font-weight: bold;
  margin-top: 10px;
  cursor: pointer;
}

.buttonCreatePost:hover {
  background-color: rgba(255, 255, 255, 0.089);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 25px;
}

.errmsgPost {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 1rem;
  color: #ff0101;
  font-weight: bold;
  margin-top: -10px;
  padding: 0.5rem;
  font-size: 15px;
  margin-right: 50%;
  margin-bottom: -1rem;
}

button:disabled,
button[disabled='true']:hover {
  border: 1px solid #999999;
  background-color: #cccccc !important;
  color: #666666 !important;
  cursor: default;
}

#counterBlock {
  color: rgba(255, 255, 255, 0.863);
  font-size: 20px;
  margin-top: 10px;
  padding: 0px 15px 0px 0px;
  font-weight: bold;
}

.controlPost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.UploadImgPost {
  position: absolute;
  margin-top: -52px;
  left: 20px;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.089);
  color: #fff;
  border-radius: 10px;
}

.UploadImgPost:hover {
  background-color: rgba(255, 255, 255, 0.195);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 10px;
  cursor: pointer;
}

input[type='file'] {
  display: none;
}

.UploadImg {
  margin-top: 2.5px;
  margin-left: 2.5px;
}

.fadeGray {
  pointer-events: none;
  margin-left: -22px;
  position: absolute;
  background: #444444;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #444444), to(rgba(255, 215, 215, 0)));
  background: linear-gradient(180deg, #444444 30%, rgba(255, 215, 215, 0) 100%);
  width: 100%;
  height: 60px;
  z-index: 50;
}

@media screen and (max-width: 992px) {
  /* VERSION TABLETTE */
}

@media screen and (max-width: 768px) {
  /* VERSION PC Responsive */
  .inputPost {
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.089);
    margin-left: 45px;
    margin-right: 10px;
    width: 100%;
    max-width: 92%;
  }
}

@media screen and (max-width: 536px) {
  /* VERSION PC Responsive */
  .inputPost {
    border: 1px solid rgba(255, 255, 255, 0);
    background-color: rgba(255, 255, 255, 0.089);
    margin-left: 45px;
    margin-right: 10px;
    width: 100%;
    max-width: 88%;
  }
}

.DisconnectButton {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 25px;
  padding: 10px 5px 10px 20px;
  font-size: 17px;
  width: 160px;
  font-weight: bold;
  text-align: left;
}

.DisconnectButton:hover {
  background-color: rgba(255, 255, 255, 0.089);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 25px;
  cursor: pointer;
}

.icon {
  margin-right: 20px;
}

@media screen and (max-width: 1100px) {
  /* VERSION TABLETTE */
  .DisconnectButton {
    display: none;
  }
  .disconnectResponsive {
    margin-top: -10px;
  }
}

@media screen and (max-width: 768px) {
  /* VERSION PC Responsive */
  .disconnectResponsive {
    margin-top: 0px;
  }
}

.Post {
  border: 1px solid #ffd7d7;
  border-radius: 25px;
  min-width: 300px;
  padding: 10px 20px 20px 20px;
  margin-right: 5px;
  margin-bottom: 20px;
  font-size: 17px;
}

.imgProfilePost {
  margin-top: 10px;
  width: 60px;
  margin-bottom: 10px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.Name {
  margin-left: 20px;
  height: 20px;
  white-space: nowrap;
}

.hourly {
  color: dimgray;
  margin-left: 5px;
  font-size: 16px;
  height: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.textPost {
  min-width: 130px;
  padding-left: 80px;
  width: 90%;
  margin-bottom: 15px;
}

.buttonLike {
  display: none;
}

.buttonLike:checked > .iconLike {
  color: aqua;
}

.likeCont {
  left: 0;
}

.iconLikeBg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 17px;
  margin-right: 12px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.LikeAnim {
  text-align: center;
  position: absolute;
  border-radius: 50%;
  width: 0px;
  height: 0px;
  z-index: -10;
  margin-top: -3px;
}

.iconLikeBg:hover .LikeAnim {
  -webkit-transition: 0.2s;
  transition: 0.2s;
  position: absolute;
  border-radius: 50%;
  background-color: #ffd7d7b2;
  width: 31px;
  height: 31px;
  z-index: -10;
}

.iconLikeBg:hover .iconLike {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ff0055;
}

@media screen and (max-width: 992px) {
  /* VERSION TABLETTE */
}

@media screen and (max-width: 768px) {
  /* VERSION PC Responsive */
  .hourly {
    font-size: 14px;
  }
}

.BlocUserList {
  min-width: 696px;
  width: 70%;
  max-width: 70%;
  position: relative;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.NavBar {
  min-width: 696px;
  width: 70%;
}

.accueil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 150px;
  max-width: 50%;
  height: 62px;
  margin-top: 0px;
  padding: 0px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.inputSearch {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.089);
  width: 92%;
  height: auto;
  color: white;
  border-radius: 10px;
  padding: 10px 5px 10px 20px;
  font-size: 17px;
  resize: none;
  overflow: hidden;
}

.recherche {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  height: auto;
  margin-top: 0px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.User {
  border-top: 1px solid rgba(255, 255, 255, 0.267);
  padding-top: 10px;
  margin-bottom: 10px;
}

.imgUser {
  width: 50px;
  margin-left: 0%;
  margin-right: 0%;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.UserInfo {
  text-align: center;
  width: 100%;
  font-size: 15px;
  padding-left: 5px;
  padding-right: 5px;
}

.ulInfo {
  width: 100%;
  text-align: center;
}

.photo {
  min-width: 50px;
  width: auto;
  text-align: center;
}

.Nom {
  min-width: 100px;
  width: auto;
  text-align: center;
}

.email {
  min-width: 179px;
  width: auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
}

.userId {
  min-width: 150px;
  width: auto;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 190px;
}

.role {
  min-width: 90px;
  width: auto;
  text-align: center;
}

.suppr {
  min-width: 83px;
  width: auto;
}

.descBar {
  padding-bottom: 5px;
}

#inputSearch::-webkit-search-cancel-button {
  -webkit-appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-image: url(./../assets/arrows-rotate-solid.svg);
  -webkit-filter: invert(100%) saturate(2476%) brightness(118%) contrast(119%);
          filter: invert(100%) saturate(2476%) brightness(118%) contrast(119%);
}

.homelink {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 25px;
  margin: 0.8rem;
  padding: 10px;
  font-size: 17px;
  width: 120px;
  font-weight: bold;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.homelink:hover {
  background-color: rgba(255, 255, 255, 0.089);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 10px;
  cursor: pointer;
}

.SettingsUser {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 25px;
  padding: 5px;
  font-size: 17px;
  width: auto;
  font-weight: bold;
  text-align: center;
}

.SettingsUser:hover {
  background-color: rgba(255, 255, 255, 0.089);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 25px;
  cursor: pointer;
}

.errmsgUser {
  background-color: rgba(255, 255, 255, 0.089);
  border-radius: 1rem;
  color: #ff0101;
  font-weight: bold;
  margin-top: 20px;
  padding: 0.5rem;
  font-size: 15px;
}

.logoAdminPanel {
  position: relative;
  margin-top: -70px;
  margin-left: 40px;
  margin-bottom: -70px;
  width: 300px;
  -webkit-clip-path: inset(35% 0 35% 5% round 20px);
          clip-path: inset(35% 0 35% 5% round 20px);
  border-radius: 20px;
  opacity: 80%;
}

.d_noneMobile {
  display: none;
}

@media screen and (max-width: 992px) {
  /* VERSION TABLETTE */
  .NavBar {
    min-width: auto;
    width: 90%;
  }
  .BlocUserList {
    min-width: 220px;
    width: 90%;
    max-width: 90%;
  }
  .d_none {
    display: none;
  }
  .User {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .User .userId {
    width: auto;
  }
  .centerResponsive {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .logoAdminPanel {
    position: relative;
    margin-top: -50px;
    margin-left: 40px;
    margin-bottom: -50px;
    width: 200px;
  }
}

@media screen and (max-width: 768px) {
  /* VERSION PC Responsive */
  .d_nonePC {
    display: none;
  }
  .d_noneMobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .NavBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .accueil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 80px;
    max-width: 50%;
    height: 62px;
    margin-top: -60px;
    margin-right: 10px;
    margin-bottom: 0px;
    padding: 0px;
    border-radius: 20px 20px 20px 20px;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .recherche {
    width: 100%;
    height: 62px;
    margin-top: -60px;
    margin-left: 0px;
    margin-bottom: 10px;
  }
  .logoAdminPanel {
    position: relative;
    margin-top: -60px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  .homelink {
    width: 55px;
  }
}

.profileWindow {
  position: relative;
  width: 350px;
  height: auto;
  margin-top: -15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 1rem;
  border-radius: 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.circle {
  margin-top: 0px;
  margin-left: 0px;
  width: 88px;
  height: 88px;
  border: 2px solid red;
  border-radius: 50%;
}

.imgProfileSetting {
  width: 80px;
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.profileSettingButton {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 25px;
  padding: 10px 5px 10px 25px;
  font-size: 17px;
  width: 150px;
  font-weight: bold;
  text-align: center;
}

.profileSettingButton:hover {
  background-color: rgba(255, 255, 255, 0.089);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 25px;
  cursor: pointer;
}

.iconSave {
  margin-top: 10px;
  margin-left: 30px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inputSetting {
  font-size: 17px;
  padding: 0.25rem;
  padding-left: 15px;
  border-radius: 1rem;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.452);
  border: white solid 2px;
}

.inputImg {
  margin-top: 20px;
  margin-bottom: 20px;
}

.infoNoImg {
  font-weight: 400;
  margin-bottom: 15px;
  font-size: 14px;
  font-style: italic;
}

.infoIfImg {
  margin-top: 3px;
  font-weight: 400;
  font-size: 14px;
}

.ImgProfileSettingButton {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 25px;
  padding: 10px 0px 10px 0px;
  font-size: 17px;
  width: 150px;
  font-weight: bold;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ImgProfileSettingButton:hover {
  background-color: rgba(255, 255, 255, 0.089);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 25px;
  cursor: pointer;
}

.ImgProfileSettingButton:hover[disabled] {
  cursor: default;
}

.logoSettings {
  margin-top: -161px;
  margin-left: 140px;
  margin-bottom: -35px;
  width: 200px;
  -webkit-clip-path: inset(35% 0 35% 5% round 20px);
          clip-path: inset(35% 0 35% 5% round 20px);
  border-radius: 20px;
  opacity: 80%;
}

.accueilSettings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10px;
  width: 140px;
  max-width: 50%;
  height: 62px;
  margin-left: -210px;
  margin-bottom: 30px;
  padding: 0px;
  border-radius: 20px 20px 20px 20px;
  background-color: rgba(0, 0, 0, 0.7);
}

.homelinkProfile {
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0);
  color: white;
  border-radius: 25px;
  margin: 0.8rem;
  padding: 10px;
  font-size: 17px;
  width: 120px;
  font-weight: bold;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.homelinkProfile:hover {
  background-color: rgba(255, 255, 255, 0.089);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 10px;
  cursor: pointer;
}

.UploadImgProfile {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 40px;
  height: 40px;
  padding: 8px;
  background-color: rgba(255, 255, 255, 0.089);
  color: #fff;
  border-radius: 10px;
}

.UploadImgProfile:hover {
  background-color: rgba(255, 255, 255, 0.195);
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  border-radius: 10px;
  cursor: pointer;
}

body {
  -webkit-transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
  color: #ffffff;
}

body[theme='dark'] {
  background: #4e5166;
  color: #fff;
}

#hybrid {
  visibility: hidden;
}

#theme-toggle {
  visibility: hidden;
}

#theme-toggle + label {
  content: '';
  display: inline-block;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#theme-toggle:not(:checked) + label {
  background-color: gold;
}

#theme-toggle:checked + label {
  background-color: transparent;
  width: 20px;
  height: 20px;
  -webkit-box-shadow: inset -4px -4px 1px 1px #fff;
          box-shadow: inset -4px -4px 1px 1px #fff;
}

[class*='text-'] {
  font-size: 1.2em;
  font-weight: 600;
  -webkit-transition: color 5s ease-in;
  transition: color 5s ease-in;
}

body[theme='dark'] .BlocPost {
  background-color: rgba(0, 0, 0, 0.4);
}

body[theme='dark'] .profile {
  background-color: rgba(0, 0, 0, 0.4);
}

body[theme='dark'] .profileWindow {
  background-color: rgba(0, 0, 0, 0.4);
}

body[theme='dark'] .accueilSettings {
  background-color: rgba(0, 0, 0, 0.4);
}

body[theme='dark'] .accueil {
  background-color: rgba(0, 0, 0, 0.4);
}

body[theme='dark'] .BlocUserList {
  background-color: rgba(0, 0, 0, 0.4);
}

body[theme='dark'] .recherche {
  background-color: rgba(0, 0, 0, 0.4);
}

body[theme='dark'] section {
  background-color: rgba(0, 0, 0, 0.4);
}

body[theme='dark'] .fadeGray {
  background: #2f313d;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(30%, #2f313d), to(rgba(255, 215, 215, 0)));
  background: linear-gradient(180deg, #2f313d 30%, rgba(255, 215, 215, 0) 100%);
}

body[theme='light'] .BlocPost {
  background-color: rgba(0, 0, 0, 0.7);
}

body[theme='light'] .profile {
  background-color: rgba(0, 0, 0, 0.7);
}

body[theme='light'] .profileWindow {
  background-color: rgba(0, 0, 0, 0.7);
}

body[theme='light'] .accueilSettings {
  background-color: rgba(0, 0, 0, 0.7);
}

body[theme='light'] .accueil {
  background-color: rgba(0, 0, 0, 0.7);
}

body[theme='light'] .BlocUserList {
  background-color: rgba(0, 0, 0, 0.7);
}

body[theme='light'] .recherche {
  background-color: rgba(0, 0, 0, 0.7);
}

body[theme='light'] section {
  background-color: rgba(0, 0, 0, 0.7);
}

.darkmod {
  position: absolute;
  margin-top: -5px;
  margin-left: 223px;
}

@media screen and (max-width: 1100px) {
  /* VERSION TABLETTE */
  .darkmod {
    position: relative;
    margin-top: -40px;
    margin-left: -10px;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 768px) {
  /* VERSION PC Responsive */
  .darkmod {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 0px;
    margin-left: -10px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
}
/*# sourceMappingURL=index.css.map */