.BlocUserList {
      min-width: 696px;
      width: 70%;
      max-width: 70%;
      position: relative;
      height: auto;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;
      border-radius: 20px 20px 20px 20px;
      background-color: rgba(0, 0, 0, 0.7);
}

.NavBar {
      min-width: 696px;
      width: 70%;
}

.accueil {
      display: flex;
      width: 150px;
      max-width: 50%;
      height: 62px;
      margin-top: 0px;
      padding: 0px;
      border-radius: 20px 20px 20px 20px;
      background-color: rgba(0, 0, 0, 0.7);
}

.recherche {
      display: flex;
      width: 250px;
      height: auto;
      margin-top: 0px;
      margin-left: 10px;
      padding: 10px;
      border-radius: 20px 20px 20px 20px;
      background-color: rgba(0, 0, 0, 0.7);
}

.User {
      border-top: 1px solid rgba(255, 255, 255, 0.267);
      padding-top: 10px;
      margin-bottom: 10px;
}

.imgUser {
      width: 50px;
      margin-left: 0%;
      margin-right: 0%;
      clip-path: circle(50% at 50% 50%);
}

.UserInfo {
      text-align: center;
      width: 100%;
      font-size: 15px;
      padding-left: 5px;
      padding-right: 5px;
}

.ulInfo {
      width: 100%;
      text-align: center;
}

.photo {
      min-width: 50px;
      width: auto;
      text-align: center;
}
.Nom {
      min-width: 100px;
      width: auto;
      text-align: center;
}
.email {
      min-width: 179px;
      width: auto;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 190px;
}
.userId {
      min-width: 150px;
      width: auto;
      text-align: center;
      overflow: hidden;
      text-overflow: ellipsis;
      width: 190px;
}
.role {
      min-width: 90px;
      width: auto;
      text-align: center;
}
.suppr {
      min-width: 83px;
      width: auto;
}

.descBar {
      padding-bottom: 5px;
}

#inputSearch::-webkit-search-cancel-button {
      -webkit-appearance: none;
      cursor: pointer;
      height: 20px;
      width: 20px;

      background-image: url(./../assets/arrows-rotate-solid.svg);
      filter: invert(100%) saturate(2476%) brightness(118%) contrast(119%);
}

.homelink {
      border: 1px solid rgba(255, 255, 255, 0);
      background-color: rgba(255, 255, 255, 0);
      color: white;
      border-radius: 25px;
      margin: 0.8rem;
      padding: 10px;
      font-size: 17px;
      width: 120px;
      font-weight: bold;
      text-align: left;
      justify-content: center;
      text-align: center;
}

.homelink:hover {
      background-color: rgba(255, 255, 255, 0.089);
      color: white;
      transition: 0.2s;
      border-radius: 10px;
      cursor: pointer;
}

.SettingsUser {
      border: 1px solid rgba(255, 255, 255, 0);
      background-color: rgba(255, 255, 255, 0);
      color: white;
      border-radius: 25px;
      padding: 5px;
      font-size: 17px;
      width: auto;
      font-weight: bold;
      text-align: center;
}

.SettingsUser:hover {
      background-color: rgba(255, 255, 255, 0.089);
      color: white;
      transition: 0.2s;
      border-radius: 25px;
      cursor: pointer;
}

.errmsgUser {
      background-color: rgba(255, 255, 255, 0.089);
      border-radius: 1rem;
      color: rgb(255, 1, 1);
      font-weight: bold;
      margin-top: 20px;
      padding: 0.5rem;
      font-size: 15px;
}

.logoAdminPanel {
      position: relative;
      margin-top: -70px;
      margin-left: 40px;
      margin-bottom: -70px;
      width: 300px;
      clip-path: inset(35% 0 35% 5% round 20px);
      border-radius: 20px;
      opacity: 80%;
}

.d_noneMobile {
      display: none;
}

// ===========================================

@media screen and (max-width: 992px) {
      /* VERSION TABLETTE */
      .NavBar {
            // flex-direction: column;
            min-width: auto;
            width: 90%;
      }

      .BlocUserList {
            min-width: 220px;
            width: 90%;
            max-width: 90%;
      }

      .d_none {
            display: none;
      }

      .User {
            flex-direction: column;
            .userId {
                  width: auto;
            }
      }
      .centerResponsive {
            justify-content: center;
      }
      .logoAdminPanel {
            position: relative;
            margin-top: -50px;
            margin-left: 40px;
            margin-bottom: -50px;
            width: 200px;
      }
}

@media screen and (max-width: 768px) {
      /* VERSION PC Responsive */
      .d_nonePC {
            display: none;
      }
      .d_noneMobile {
            display: flex;
      }
      .NavBar {
            flex-direction: column;
      }
      .accueil {
            display: flex;
            width: 80px;
            max-width: 50%;
            height: 62px;
            margin-top: -60px;
            margin-right: 10px;
            margin-bottom: 0px;
            padding: 0px;
            border-radius: 20px 20px 20px 20px;
            background-color: rgba(0, 0, 0, 0.7);
      }
      .recherche {
            width: 100%;
            height: 62px;
            margin-top: -60px;
            margin-left: 0px;
            margin-bottom: 10px;
      }
      .logoAdminPanel {
            position: relative;
            margin-top: -60px;
            margin-left: 0px;
            margin-bottom: 0px;
      }

      .homelink {
            width: 55px;
      }
}
