* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

html {
      font-size: 22px;
      color: #fff;
}

body {
      min-height: 100vh;
}

section {
      width: 100%;
      max-width: 420px;
      min-height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem;
      border-radius: 20px;
      background-color: rgba(0, 0, 0, 0.7);
}

.formAuth {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      flex-grow: 1;
      padding-bottom: 1rem;
      margin-top: 30px;
}

.buttonAuth {
      margin: 1rem;
}

.inputAuth,
.buttonAuth,
.textareaAuth {
      font-size: 17px;
      padding: 0.25rem;
      padding-left: 15px;
      border-radius: 1rem;
      background-color: rgba(255, 255, 255, 0.452);
      border: rgb(255, 255, 255) solid 2px;
}

.buttonAuth:hover {
      background-color: rgb(255, 255, 255);
      border: rgb(255, 255, 255) solid 2px;
      transition: 0.5s;
}

.labelMarg {
      margin-top: 10px;
      margin-left: 15px;
      margin-bottom: 3px;
}

.buttonAuth {
      margin-left: 85px;
      padding: 0rem;
      width: 200px;
      height: 41px;
      border-radius: 1rem;
      cursor: pointer;
}

.instructions {
      font-size: 0.75rem;
      border-radius: 0.5rem;
      background: rgba(255, 255, 255, 0.2);
      color: #fff;
      padding: 0.25rem;
      position: relative;
      bottom: -10px;
}

.instructions > svg {
      margin-right: 0.25rem;
}

.offscreen {
      position: absolute;
      left: -9999px;
}

.hide {
      display: none;
}

.valid {
      color: rgb(253, 253, 253);
      margin-left: 0.25rem;
}

.invalid {
      color: rgb(255, 255, 255);
      margin-left: 0.25rem;
}

.errmsg {
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 1rem;
      color: rgb(255, 1, 1);
      font-weight: bold;
      margin-top: 40px;
      padding: 0.5rem;
      padding-left: 4rem;
      margin-bottom: -1rem;
}

.line {
      display: inline-block;
}

.top {
}

.auth {
      display: flex;
      justify-content: space-around;
      padding-top: 5px;
}

.italic {
      font-style: italic;
      color: rgb(156, 156, 156);
}

.italic:hover {
      font-style: italic;
      color: rgb(255, 255, 255);
      text-decoration: underline;
      transition: 0.1s;
}

/* stroke */

a {
      outline: 0;
      text-decoration: none;
      color: #fff;
      border: none;
      position: relative;
}

li {
      color: white;
}

a:visited {
      outline: 0;
      text-decoration: none;
      color: #fff;
      border: none;
}

.grey::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 210px;
      border-radius: 0 20px 0 0;
      transform: translateY(-68.4%) translateX(-33px);
      background-color: rgba(255, 255, 255, 0.2);
      height: 50px;
      padding-bottom: 20px;
}

.grey1::after {
      content: '';
      position: absolute;
      height: 100%;
      width: 210px;
      border-radius: 20px 0 0 0;
      transform: translateY(-68.5%) translateX(-71px);
      background-color: rgba(255, 255, 255, 0.2);
      height: 50px;
      padding-bottom: 20px;
}

.logo {
      position: relative;
      margin-top: -70px;
      margin-bottom: -70px;
      width: 300px;
      clip-path: inset(35% 0 35% 5% round 20px);
      border-radius: 20px;
      opacity: 80%;
}

//=========================================

@media screen and (max-width: 992px) {
      /* VERSION TABLETTE */
}

@media screen and (max-width: 768px) {
      /* VERSION PC Responsive */
      .responsive {
            width: 350px;
      }

      .grey::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 180px;
            border-radius: 0 20px 0 0;
            transform: translateY(-68.4%) translateX(-20px);
            background-color: rgba(255, 255, 255, 0.2);
            height: 50px;
            padding-bottom: 20px;
      }
      .grey1::after {
            content: '';
            position: absolute;
            height: 100%;
            width: 170px;
            border-radius: 20px 0 0 0;
            transform: translateY(-68.5%) translateX(-53px);
            background-color: rgba(255, 255, 255, 0.2);
            height: 50px;
            padding-bottom: 20px;
      }
      .buttonAuth {
            margin-left: 55px;
      }
}
