body {
      transition: background-color 0.2s ease-in-out, color 0.4s ease-in-out;
      color: #ffffff;
}

body[theme='dark'] {
      background: #4e5166;
      color: #fff;
}

#hybrid {
      visibility: hidden;
}

#theme-toggle {
      visibility: hidden;
}

#theme-toggle + label {
      content: '';
      display: inline-block;
      cursor: pointer;
      height: 25px;
      width: 25px;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
      background-image: url(./../assets/sun-fill-custom.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      animation-duration: 1s;
}

#theme-toggle:checked + label {
      background-image: none;
      background-color: transparent;
      width: 20px;
      height: 20px;
      margin: 2.5px;
      box-shadow: inset -4px -4px 1px 1px #fff;
}

[class*='text-'] {
      font-size: 1.2em;
      font-weight: 600;
      transition: color 5s ease-in;
}

body[theme='dark'] {
      .BlocPost {
            background-color: rgba(0, 0, 0, 0.4);
      }
      .profile {
            background-color: rgba(0, 0, 0, 0.4);
      }
      .profileWindow {
            background-color: rgba(0, 0, 0, 0.4);
      }
      .accueilSettings {
            background-color: rgba(0, 0, 0, 0.4);
      }
      .accueil {
            background-color: rgba(0, 0, 0, 0.4);
      }
      .BlocUserList {
            background-color: rgba(0, 0, 0, 0.4);
      }
      .recherche {
            background-color: rgba(0, 0, 0, 0.4);
      }
      section {
            background-color: rgba(0, 0, 0, 0.4);
      }
      .fadeGray {
            background: rgb(47, 49, 61);
            background: linear-gradient(
                  180deg,
                  rgba(47, 49, 61, 1) 30%,
                  rgba(255, 215, 215, 0) 100%
            );
      }
      .hourly {
            color: rgb(105, 105, 105);
      }
      .windowPostSettings {
            background-color: rgb(40, 42, 53);
      }
}

.darkmod {
      position: absolute;
      margin-top: -5px;
      margin-left: 223px;
}

@media screen and (max-width: 1100px) {
      /* VERSION TABLETTE */
      .darkmod {
            position: relative;
            margin-top: -40px;
            margin-left: -10px;
            margin-bottom: 10px;
      }
}
@media screen and (max-width: 768px) {
      /* VERSION PC Responsive */
      .darkmod {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 0px;
            margin-left: -10px;
            margin-right: 10px;
            margin-bottom: 0px;
      }
}
